* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://robsoncamargo.com.br/files/thumbs/blog_0370-ferramentas-de-gestao-de-qualidade-800x333.png?v=1639611933');
     background-position: center;
    background-size: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.473);
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #288ea7;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #21883791;
}

ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.remove-btn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #c82333;
}

#task-counter {
    margin-top: 10px;
    font-size: 14px;
}